.wrapper {
  width: 720px;
  padding: 20px 0;
}

.following__child {
  background-color: aqua;
  height: 300px;
  border-radius: 5px;
}

.following__child__image {
}

.following__child__video {
}

.following__child__info {
}

.following__child__avatar {
}

.following__child__avatar__item {
}

.following__child__name {
}

.following__child__nickname {
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.col {
  padding-left: 8px;
  padding-right: 8px;
}

.s-0 {
  display: none;
}
.s-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}
.s-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.s-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.s-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.s-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}
.s-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.s-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.s-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}
.s-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.s-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}
.s-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}
.s-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
