.menu-list {
  width: 230px;

  .menu-item + .menu-item {
    margin-left: 0;
  }

  // Menu items
  .menu-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    padding: 10px 16px;
    line-height: 1.8rem;

    &.separate {
      border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
      background-color: rgba(22, 24, 35, 0.03);
    }
  }
}

.menu-popper {
  padding-bottom: 8px;
}

.menu-body {
  overflow-y: auto;
}

.header {
  height: 50px;
  position: relative;
}

.header-btn {
  width: 50px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
